body {
  position: relative;
}

@media only screen and (max-width: 991px) {
  .helpbox div {
    width: 90%;
  }
}

@media only screen and (min-width: 435px) and (max-width: 991px) {
  .page {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .page {
    width: 70%;
  }
  .helpbox div {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .page {
    width: 60%;
  }
  .helpbox div {
    width: 60%;
  }
}

@media screen and (min-width: 800px) {
  .page-content-header {
    margin-top: 20px;
  }
}

p {
  color: rgb(61, 61, 61);
}

h4 {
  padding-top: 1em;
}

.nogrid-p {
  padding: 0 1em;
}

.page {
  margin: 0 auto;
  min-height: 100%;
}

/* helpbox */
.helpbox {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(190, 190, 190, 0.5)
}
.helpbox div {
  margin: 100px auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}
.helpbox p {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1em;
}
.helpbox code,pre {
  margin: 0;
  padding: 0 1em;
  line-height: 1;
}
.helpbox ul {
  padding-left: 1em;
  padding-left: -webkit-calc(1em + 2px) !important;
  padding-left: calc(1em + 2px) !important;
}

/* page footer */
.page-content-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-maxwidth {
  flax-basis: 100%;
}
.footer-maxwidth p {
  margin: 0 0 5px 0;
}

/* grid cell */
.mirror-wrapper {
  background: rgb(235, 235, 235);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 5px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 3px 0;
}
.mirror-wrapper p {
  margin: 0;
}
.mirror-link-wrapper, .mirror-help-wrapper {
  padding: 3px 0;
}
.mirror-link-wrapper:hover, .mirror-help-wrapper:hover {
  background-color: rgb(215, 215, 215);
}
.mirror-link-wrapper:hover {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.mirror-help-wrapper:hover {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mirror-link-wrapper {
  -webkit-box-flex: 6;
  -webkit-flex: 6 1 auto;
      -ms-flex: 6 1 auto;
          flex: 6 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.mirror-logo::before {
  content: '\a0';
}
.mirror-logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 15px;
  font-size: 3em;
}
.mirror-content {
  -webkit-box-flex: 6;
  -webkit-flex: 6 4 auto;
      -ms-flex: 6 4 auto;
          flex: 6 4 auto;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
}

.mirror-help-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 4 auto;
      -ms-flex: 1 4 auto;
          flex: 1 4 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mirror-help-wrapper div {
  font-size: 50px;
  text-align: center;
  margin: 0.2em;
}
